# Open Peer Power core
aiohttp==3.7.4
astral==1.10.1
async_timeout==3.0.1
attrs==19.3.0
bcrypt==3.1.7
certifi>=2019.11.28
importlib-metadata==0.23
jinja2>=2.10.3
PyJWT==1.7.1
cryptography==2.8
pip>=8.0.3
python-slugify==4.0.0
pytz>=2019.03
pyyaml==5.2.0
requests==2.22.0
ruamel.yaml==0.15.100
voluptuous==0.11.7
voluptuous-serialize==2.3.0

# openpeerpower.components.dht
# Adafruit-DHT==1.4.0

# openpeerpower.components.homekit
HAP-python==2.7.0

# openpeerpower.components.mobile_app
PyNaCl==1.3.0

# openpeerpower.auth.mfa_modules.totp
PyQRCode==1.2.1

# openpeerpower.components.automatic
aioautomatic==0.6.5

# openpeerpower.components.http
aiohttp_cors==0.7.0

# openpeerpower.components.stream
av==6.1.2

# openpeerpower.components.zha
bellows-openpeerpower==0.13.2

# openpeerpower.components.bmw_connected_drive
bimmer_connected==0.7.1

# openpeerpower.components.bom
bomradarloop==0.1.3

# openpeerpower.scripts.check_config
colorlog==4.1.0

# openpeerpower.scripts.credstash
# credstash==1.15.0

# openpeerpower.components.metoffice
datapoint==0.9.5

# openpeerpower.components.ssdp
defusedxml==0.6.0

# openpeerpower.components.updater
distro==1.4.0

# openpeerpower.components.season
ephem==3.7.7.0

# openpeerpower.components.growatt_server
growattServer==0.0.1

# openpeerpower.components.mqtt
hbmqtt==0.9.5

# openpeerpower.components.heatmiser
heatmiserV3==1.1.18

# openpeerpower.components.homekit_controller
homekit[IP]==0.15.0

# openpeerpower.scripts.keyring
keyring==20.0.0

# openpeerpower.scripts.keyring
keyrings.alt==3.4.0

# openpeerpower.components.google_maps
locationsharinglib==4.1.0

# openpeerpower.components.tts
mutagen==1.43.0

# openpeerpower.components.discovery
# openpeerpower.components.ssdp
netdisco==2.6.0

# openpeerpower.components.zwave
openpeerpower-pyozw==0.1.8

# openpeerpower.components.frontend
opp-ui==0.1.0

# openpeerpower.components.mqtt
paho-mqtt==1.5.0

# openpeerpower.components.serial_pm
pmsensor==0.4

# openpeerpower.components.met
pyMetno==0.4.6

# openpeerpower.components.almond
pyalmond==0.0.2

# openpeerpower.components.daikin
pydaikin==1.6.2

# openpeerpower.components.zwave
pydispatcher==2.0.5

# openpeerpower.components.fronius
pyfronius==0.4.6

# openpeerpower.components.modbus
pymodbus==1.5.2

# openpeerpower.components.mysensors
pymysensors==0.18.0

# openpeerpower.auth.mfa_modules.notify
# openpeerpower.auth.mfa_modules.totp
# openpeerpower.components.otp
pyotp==2.3.0

# openpeerpower.components.serial
pyserial-asyncio==0.4

# openpeerpower.components.sms
# python-gammu==2.12

# openpeerpower.components.sendgrid
sendgrid==6.1.1

# openpeerpower.components.smappee
smappy==0.2.16

# openpeerpower.components.recorder
sqlalchemy==1.3.11

# openpeerpower.components.zigbee
xbee-helper==0.0.7

# openpeerpower.components.yr
xmltodict==0.12.0

# openpeerpower.components.zeroconf
zeroconf==0.24.4

# openpeerpower.components.zha
zha-quirks==0.0.33

# openpeerpower.components.zha
zigpy-cc==0.1.0

# openpeerpower.components.zha
zigpy-deconz==0.7.0

# openpeerpower.components.zha
zigpy-openpeerpower==0.13.2

# openpeerpower.components.zha
zigpy-xbee-openpeerpower==0.9.0

# openpeerpower.components.zha
zigpy-zigate==0.5.1
